%h1 TrainIndex
%p Nice Traines to train

- for train in @trains
  %h6= link_to train.name, train
  - for font in train.fonts
    %h6= link_to "-#{font.name}", font
    - for picture in font.pictures
      %h6= link_to "--#{picture.name}", edit_picture_path(picture)
      %h6= link_to "--#{picture.box.chars.count}", edit_box_path(picture.box)
