%head
%body{"data-spy" => "scroll", "data-target" => ".scrollspy"}
  %input{:id => "js", :value => "box", :hidden => true}
  %input{:id => "editjs", :value => "true", :hidden => true}
  %h1.hidden{:id => "tr_log"}= @box.tr_log.html_safe if @box.tr_log
  %input.hidden{:id => "tr_fail", :value => "#{@box.tr_fail}"}
  %br
  .row
    .col-xs-6.col-md-8
      = image_tag  @box.picture.data.jpg,  id: "picture",  hidden: true, width: "100%", crossOrigin: "anonymous"
      %canvas{:id => "canvas"}
    .col-xs-6.col-md-4.scrollspy
      %ul#nav
        -#.affix-top{"data-spy" => "affix"}
        .row
          .col-md-6
            .row
              .col-md-6
                %label{:for => "sx"} x:
                %input{:id => "sx", :type => "number", :min => "0", :maxlength => "4", :style => "width: 5em"}
              .col-md-6
                %label{:for => "sy"} y:
                %input{:id => "sy", :type => "number", :min => "0", :maxlength => "4", :style => "width: 5em"}
            %br
            .row
              .col-md-6
                %label{:for => "sw"} w:
                %input{:id => "sw", :type => "number", :min => "0", :maxlength => "4", :style => "width: 5em"}
              .col-md-6
                %label{:for => "sh"} h:
                %input{:id => "sh", :type => "number", :min => "0", :maxlength => "4", :style => "width: 5em"}
          .col-md-6

            %form.form-inline
              .form-group
                %label{:for => "sc"} char:
                %input.big{:id => "sc", min: "1",  maxlength: "1", type: "text"}
              .form-group
                %button#totr.btn.btn-md.btn-primary Train Boxes

        .row
          .col-md-12
            %h1 Box

            %table.table.table-hover.tablesorter
              %thead
                %tr
                  %th.hidden
                  %th Index
                  %th Fail
                  %th char
                  %th x1
                  %th y1
                  %th x2
                  %th y2
              %tbody
                - for char in @box.chars
                  %tr
                    %td.hidden=char.id
                    %td= "#{@box.chars.index(char) }"
                    %td= char.fail
                    %td= char.char.to_s
                    %td= char.x1
                    %td= char.y1
                    %td= char.x2
                    %td= char.y2

%footer
