%h1 Box

%table.table.table-striped.align-middle
  %thead
    %tr
      %th char
      %th x1
      %th y1
      %th x2
      %th y2
  %tbody
    - for char in @box.chars
      %tr
        %td
          %h6= char.char.to_s
        %td
          %h6= char.x1
        %td
          %h6= char.y1
        %td
          %h6= char.x2
        %td
          %h6= char.y2
