.nested-fields
  .row.b
    .col-md-12
      .row
        .col-md-offset-11.col-md-1.tcenter= link_to_remove_association "&times;".html_safe, f, :class => "close"
      .row
        .col-md-12
          .field
            = f.fields_for :coords do |c|
              = c.text_field :x , :id => "x1", :value => f.object.coords[:x]  , :hidden => "true"
              = c.text_field :x2, :id => "x2", :value => f.object.coords[:x2] , :hidden => "true"
              = c.text_field :y,  :id => "y1", :value => f.object.coords[:y]  , :hidden => "true"
              = c.text_field :y2, :id => "y2", :value => f.object.coords[:y2] , :hidden => "true"
              = c.text_field :w, :id => "w", :value => f.object.coords[:w]    , :hidden => "true"
              = c.text_field :h, :id => "h", :value => f.object.coords[:h]    , :hidden => "true"

            -# %input.imgC{:hidden => false, :id => "x1", :value => @picture.coords[:x]}
            -# %input.imgC{:hidden => false, :id => "y1"}
            -# %input.imgC{:hidden => false, :id => "x2"}
            -# %input.imgC{:hidden => false, :id => "y2"}
            -# %input.imgC{:hidden => false, :id => "w"}
            -# %input.imgC{:hidden => false, :id => "h"}
            = ffile f, :data, id: "imgInp", type: "file" , class: "fileIn"
            %img#imgO{:alt => "your image", :src => "#{link_image(f)}",:width => "25%"}
          -# %input#imgInp{:type => "file"}
          -#   = ftext f, :name #, class: "input-auto"
          -# .col-md-3
          -#   - [:italic, :bold, :fixed, :serif, :fraktur].each do |c|
          -#     = fcheck f, c
      .row
        .col-md-12
          %hr
